@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --prim: #000000;
    --sec: #FFF5F6;
    --tert: #1D1D1D;
}

*{
    text-decoration: none;
}

body{
    margin: 0;
    background-color: var(--tert);
    font-family: "Afacad";
}

.navbar{
    background-color: #000000;
    /* background-color: lightblue; */
    font-family: "Afacad";
    padding-right: 15px;
    padding-left: 15px;
    margin-top: -10px;
    margin-bottom: -10px;

}



.navdiv{
    display: flex;
    /* background-color:#FFF5F6 ; */
    align-items: center;
    justify-content: space-between;
    height: 119px;

}

.logo a{
    font-size: 40px;
    font-weight: bold;
    color: var(--sec);
}

li{
    list-style: none;
    display: inline-block;

}

li a{
    color: var(--sec);
    font-size: 40px;
    font-weight: bold;
    margin-right: 25px;
    font-family: "Afacad";
}

.Imgdiv{
    position: relative;
}
.MasterImage{
    width: 100%;
    height: 840px;
    object-fit: fill;
    position: relative;
}

.learn-more-image{
    height: 61.08px;
    width: 213.37px;
    display: inline-block; /* Make the button inline-block */
    /* padding: 10px 20px; Padding for the button */
    background-color: #a68200; /* Dark background color for the button */
    color: #fff; /* White text color */
    border: none; /* No border */
    border-radius: 15.07px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    text-decoration: none; /* No underline on text */
    font-family: "Afacad";
    font-size: 30px;
    margin-top: 28.92px;
    padding-top: -0.5px;
    border: 5px solid red;
    position: absolute;
}

* {
    box-sizing: border-box;
}



#about {
    max-width: 1920px; /* Maximum width of the container */
    max-height: 1080px;
    margin: 0; /* Centered with margin */
    color: var(--sec);
    padding: 20px;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    /* margin-bottom: 120px; */
    padding-bottom: 80px;
}

h1 {
    text-align: center; /* Center the heading */
    margin-bottom: 20px; /* Space below the heading */
    font-size: 36px; /* Size of the heading */
    font-weight: lighter;
}

.content {
    display: flex; /* Flexbox for layout */
    align-items: flex-start; /* Align items at the start */
}

.about-header{
    font-family: "Afacad";
    align-items: left;
    font-size: 80px;
    margin-left: -1050px;
    margin-bottom: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.image-placeholder {
    width: 904px; /* Width of the image placeholder */
    height: 620px; /* Height of the image placeholder */
    background-color: #d0d0d0; /* Gray color for the placeholder */ /* Space to the right of the image */
    border-radius: 8px; /* Rounded corners */
    margin-left: 82px;
}

.text {
    width: 50%; /* Width of the text area */
    font-family: "Afacad";
    font-size: 36px;
    margin-left: 60px;
    margin-right: 92px;
    margin-top: 47px;

}

.text p {
    /* margin-top: 47px; */
    /* margin-left: 60px; */
    margin-bottom: 20px;
    /* margin-right: 102px; Space below the paragraph */
}

.learn-more {
    height: 61.08px;
    width: 213.37px;
    display: inline-block; /* Make the button inline-block */
    /* padding: 10px 20px; Padding for the button */
    background-color: #333; /* Dark background color for the button */
    color: #fff; /* White text color */
    border: none; /* No border */
    border-radius: 15.07px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    text-decoration: none; /* No underline on text */
    font-family: "Afacad";
    font-size: 30px;
    margin-top: 28.92px;
    padding-top: -0.5px;
}

.learn-more:hover {
    background-color: #ffffff; /* Darker shade on hover */
    color: black;
    border: 5px solid black;
}

#projects {
    /* background-color: #FFF5F5; */
    padding: 40px 20px;
    font-family: "Afacad";
  }

.team-container {
    max-width: 800px;
    margin: 0 auto;
  }

.team-title {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: center;
  }

.team-photo-container {
    background-color: #E5E7EB;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
  }

.team-photo {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #4B5563;
  }

.team-description {
    font-size: 16px;
    line-height: 1.5;
    color: #4B5563;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Afacad";
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-beta {
    height: 400px;
    display: flex;  
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #b0b0ba;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('./img1.jpeg');
}
.card[for="c2"] {
    background-image: url('./img2.jpeg');
}
.card[for="c3"] {
    background-image: url('./img3.jpeg');
}
.card[for="c4"] {
    background-image: url('./img4.jpeg');
}

/* SHAAN */

.aboutContainer{
    display: flex;
    flex-direction: row;
    border: 2px solid red;
    color: var(--sec);
    margin: 2%;
}

.aboutElement{
    border: 2px solid magenta;
    margin: 0.5%;
}

.aboutImg
{
    width: 100vw;
    height: 80vh;
    background-color: wheat;

}

.aboutHeader{
    text-align: left;
    color: var(--sec);
    border: 2px solid maroon;
    font-weight: bold;
}

.aboutRM
{
    margin-top: 7%;
}

.projectContainer{
    margin: 2%;
    border: 2px solid magenta;
}

.teamContainer{
    margin: 2%;
    border: 2px solid magenta;
    display: flex;
    flex-direction: column;
    /* font-size: xx-large; */
}

.teamImg
{
    align-self: center;
    
    border: 2px solid yellow;
    height: 600px;
    /* margin-top: 10%; */
    width: 100%;
    background-color: wheat;
}

.teamContent
{
    color: var(--sec);
    margin-top: 0.5%;
}

.footerContainer
{
    margin: 2%;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border: 2px solid magenta;
    display: flex;
    flex-direction: row;
    background-color: #000000;
}

.footerContent
{
    border: 2px solid yellow;
    margin: 2%;
    width: 30%;
    color: var(--sec);
}

.footerMid
{
    display: flex;
    flex-direction: column;
}

.footerMidCont
{
    margin: 2%;
}

.emailText
{
    border: 2px solid white;
    border-radius: 20px;
    width: 100%;
    height: 20%;
    padding-left:3%;
    padding-top: 1.5%;
    color: #000000;
    background-color: var(--sec);
}