.navbar {
    background-color: black;
    display: flex;
    justify-content: right;
    padding: 1rem 0;
  }
  
  .navbar-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar-item {
    color: white;
    margin: 0 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    text-transform: uppercase;
    transition: color 0.3s;
  }
  
  .navbar-item:hover {
    color: yellow;
  }
  
  .navbar-item.active {
    color: yellow;
    font-weight: bold;
  }
  